@import "tailwindcss";

@theme {
   --color-primaryBackground: #181A3A;
   --color-secondaryBackground: #0E1327;
   --color-primaryForground: #C4DF8E;
   --color-secondaryForground: #5A7A45;
   --color-color1: #40C987;
   --color-color2: #9AD0E0;
}


button{
   background: var(--color-color1);
   color: var(--color-secondaryBackground);
   font-weight:bold;
   padding: 2px 10px;
   margin: 2px 2px;
   border: 1px solid var(--color-color2);
   border-radius: 8px;
}

button:hover {
   background: var(--color-color2);
}

table,th,td{
   border: 2px solid var(--color-color1);
}

td{
   padding:4px 10px;
   text-align:center;
}

h2{
   font-weight: bold;
   font-size: 1.5rem;
   text-align: center;
}
